form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    min-height: 100vh;
}

label {
    color: #838383;
    font-family: Roboto,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 2px;
}

input {
    margin-bottom: 5%;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1rem;
    width: 400px;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
}

button {
    width: 100%;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 1rem;
}