<div class="footer">
<span class="created-by">Created by NSIT ESM GROUPI @ <b><a href="http://esprit.tn" target="_blank">ESPRIT School of Engineering</a></b> 2019</span>
    <nb-actions class="socials">
        <nb-action class="nav-item" icon="github" href="https://github.com/psnpsn/touchless-frontend/"></nb-action>
        <nb-action class="nav-item" icon="facebook" href="https://www.facebook.com"></nb-action>
        <nb-action class="nav-item" icon="linkedin" href="https://www.linkedin.com"></nb-action>
    </nb-actions>
</div>

