<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header></nb-card-header>
            <nb-card-body>
                <app-compliance-advanced-pie></app-compliance-advanced-pie>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header></nb-card-header>
            <nb-card-body>
                <app-handwash-analytics></app-handwash-analytics>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header></nb-card-header>
            <nb-card-body>
                <app-handwash-analytics></app-handwash-analytics>
            </nb-card-body>
        </nb-card>
    </div>
</div>
